<div class="todo-container">
  <h1>ToDo List</h1>
  <form (ngSubmit)="addTodo()" #todoForm="ngForm" class="todo-form">
    <input
      name="title"
      [(ngModel)]="newTodo.title"
      placeholder="Title"
      required
    />
    <input
      name="description"
      [(ngModel)]="newTodo.description"
      placeholder="Description"
      required
    />
    <input
      name="priority"
      type="number"
      [(ngModel)]="newTodo.priority"
      placeholder="Priority"
      required
      min="1"
    />
    <button type="submit" [disabled]="todoForm.invalid">Add</button>
  </form>

  <ul class="todo-list">
    <li *ngFor="let todo of todos">
      <div class="todo-item">
        <span class="todo-title">{{ todo.title }}</span>
        <span class="todo-desc">{{ todo.description }}</span>
        <span class="todo-priority">Priority: {{ todo.priority }}</span>
        <button (click)="editTodo(todo)">Edit</button>
        <button (click)="deleteTodo(todo.id!)">Delete</button>
      </div>
    </li>
  </ul>

  <div *ngIf="editingTodo" class="edit-form">
    <h3>Edit Todo</h3>
    <form (ngSubmit)="updateTodo()" #editForm="ngForm">
      <input name="title" [(ngModel)]="editingTodo.title" required />
      <input
        name="description"
        [(ngModel)]="editingTodo.description"
        required
      />
      <input
        name="priority"
        type="number"
        [(ngModel)]="editingTodo!.priority"
        required
        min="1"
      />
      <button type="submit" [disabled]="editForm.invalid">Update</button>
      <button type="button" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>

  <canvas id="priorityChart"></canvas>
</div>
